
@{
    ViewData["Title"] = "Create Account";
}

<h2>Create Account</h2>
<br />

<form method="post">
    <div class="form-group">
        First Name: <br />
        <input id="firstName" class="form-control" type="text" /> <br /> <br />
        Last Name: <br />
        <input id="lastName" class="form-control" type="text" /> <br /> <br />
        Email Address: <br />
        <input id="email" class="form-control" type="text" /> <br /> <br />
        Password:  <br />
        <input id="password" class="form-control" type="password" /> <br />
        <br />
        <button type="submit" class="btn btn-default">Register</button>
    </div>
</form>
