
@{
    ViewData["Title"] = "Photo Gallery";
}

<!-- inro section Grid -->
<section class="text-center pt-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 text-center">Sunridge Photos</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container gallery-container text-center mt-5 mb-5">
        <div class="row">
            <div class="col-sm-6 col-md-4 pg">
                <img src="../img/photo-gal/summer.png" alt="Summer">
                <button class="btn btn-primary mt-4 mb-4"><a class="text-white" asp-action="SummerGallery">Summer</a></button>
            </div>
            <div class="col-sm-6 col-md-4 pg">
                <img style="width: 100%" src="../img/photo-gal/winter.png" alt="winter">
                <button class="btn btn-primary mt-4 mb-4"><a class="text-white" asp-action="WinterGallery">Winter</a></button>
            </div>
            <div class="col-sm-6 col-md-4 pg">
                <img src="../img/photo-gal/people.png" alt="People">
                <button class="btn btn-primary mt-4 mb-4"><a class="text-white" asp-action="PeopleGallery">People</a></button>
            </div>
        </div>
    </div>
</section>

