@model SunridgeHOA.Models.ViewModels.OwnerViewModel
@using SunridgeHOA.Extensions
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Create an Owner</h2>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.FirstName"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.FirstName" class="form-control" />
            </div>
            <span asp-validation-for="Owner.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.LastName"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.LastName" class="form-control" />
            </div>
            <span asp-validation-for="Owner.LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.IsPrimary"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="Owner.IsPrimary" class="form-control" />
            </div>
            <span asp-validation-for="Owner.IsPrimary" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.Occupation"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.Occupation" class="form-control" />
            </div>
            <span asp-validation-for="Owner.Occupation" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.Phone"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.Phone" class="form-control" />
            </div>
            <span asp-validation-for="Owner.Phone" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.Birthday"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.Birthday" class="form-control" />
            </div>
            <span asp-validation-for="Owner.Birthday" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.EmergencyContactName"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.EmergencyContactName" class="form-control" />
            </div>
            <span asp-validation-for="Owner.EmergencyContactName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.EmergencyContactPhone"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.EmergencyContactPhone" class="form-control" />
            </div>
            <span asp-validation-for="Owner.EmergencyContactPhone" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.Image"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
