@model SunridgeHOA.Models.ViewModels.OwnerViewModel
@using SunridgeHOA.Extensions
@{
    ViewData["Title"] = "Details";
}

<br />
<h2 class="text-info">Owner Details</h2>

    <div class="p-4 border rounded row">
        <div class="col-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.FirstName"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.FirstName" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.LastName"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.LastName" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.Address.StreetAddress"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.Address.StreetAddress" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.Address.City"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.Address.City" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.Address.State"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.Address.State" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.Address.Zip"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.Address.Zip" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.Occupation"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.Occupation" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.Phone"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.Phone" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.Birthday"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.Birthday" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.EmergencyContactName"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.EmergencyContactName" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.EmergencyContactPhone"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.EmergencyContactPhone" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.Lot.LotNumber"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Owner.Lot.LotNumber" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.IsPrimary"></label>
                </div>
                <div class="col-5">
                    <input type="checkbox" asp-for="Owner.IsPrimary" disabled class="checkbox" />
                </div>
            </div>
            <br />
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.Owner.Image" width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9;" />
        </div>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.User.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
