@model string
@{
    Layout = null;
}

<td style="width:150px">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary" asp-route-id="@Model" asp-action="Edit">
            <i class="fas fa-edit"></i>
        </a>
        <a type="button" class="btn btn-success" asp-route-id="@Model" asp-action="Details">
            <i class="fas fa-list-alt"></i>
        </a>
        <a type="button" class="btn btn-danger" asp-route-id="@Model" asp-action="Delete">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</td>