@model int
@{
    Layout = null;
}

<td style="width:150px">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary" asp-area="Admin" asp-controller="Account" asp-route-id="@Model" asp-action="EditLot">
            <i class="fas fa-edit"></i>
        </a>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Account" asp-route-id="@Model" asp-action="LotDetails">
            <i class="fas fa-list-alt"></i>
        </a>
        <a type="button" class="btn btn-danger" asp-area="Admin" asp-controller="Account" asp-route-id="@Model" asp-action="DeleteLot">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</td>