@model SunridgeHOA.Models.ViewModels.BoardMembersViewModel
@using SunridgeHOA.Extensions
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2 class="text-info">Delete Board Member</h2>

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="BoardMember.Owner.FirstName"></label>
            </div>
            <div class="col-5">
                <input asp-for="BoardMember.Owner.FirstName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="BoardMember.Owner.LastName"></label>
            </div>
            <div class="col-5">
                <input asp-for="BoardMember.Owner.LastName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="BoardMember.Position"></label>
            </div>
            <div class="col-5">
                <input asp-for="BoardMember.Position" readonly class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
