
@{
    ViewData["Title"] = "Cabins";
}

<!-- inro section Grid -->
<section class="p-4">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading text-center mt-5">No cabins for sale</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container mb-5">
        <div class="container container-fluid bg-light p-5">
            <div class="row">
                <div class="col-sm-6">
                    <img class="main-icons" src="~/img/cabin-icon.svg" alt="property-img02">
                </div>
                <div class="col-sm-6">
                    <h1>Add your lot</h1>
                    <p>Lot information</p>
                    <h4>Contact Information</h4>
                    <button class=" mt-4 btn-primary"><a class="text-white" href="mailto:Webmaster@sunridge.info">Email Us</a></button>
                </div>
            </div>
        </div>
    </div>
    </section>
