
@{
    ViewData["Title"] = "Cabin Pictures";
}

<h2>H13</h2> <!-- inro section Grid -->
<section class=" p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 text-center">H-13 Photos</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<div class="container gallery-container text-center mt-5 mb-5">

    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="../img/photo-gal/h13/h13main.jpg">
                    <img src="../img/photo-gal/h13/h13main.jpg" alt="cabin">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="../img/photo-gal/h13/h13-1.jpg">
                    <img src="../img/photo-gal/h13/h13-1.jpg" alt="cabin">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="../img/photo-gal/h13/h13-2.jpg">
                    <img src="../img/photo-gal/h13/h13-2.jpg" alt="cabin">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="../img/photo-gal/h13/h13-3.jpg">
                    <img src="../img/photo-gal/h13/h13-3.jpg" alt="cabin">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="../img/photo-gal/h13/h13-4.jpg">
                    <img src="../img/photo-gal/h13/h13-4.jpg" alt="cabin">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <a class="lightbox" href="../img/photo-gal/h13/h13-5.jpg">
                    <img src="../img/photo-gal/h13/h13-5.jpg" alt="cabin">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>baguetteBox.run('.tz-gallery');</script>
