@model SunridgeHOA.Models.ViewModels.ClassifiedViewModel

@{
    ViewData["Title"] = "Add Cabin";
}

<h2>Add Cabin</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Public" asp-controller="Home" asp-action="Cabins" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cabins.Name">Name:</label>
                <input asp-for="Cabins.Name" /> <br />
                <label asp-for="Cabins.Price">Price:</label>
                <input asp-for="Cabins.Price" /> <br />
                <label asp-for="Cabins.Description">Description:</label>
                <input asp-for="Cabins.Description" /> <br />
                <label asp-for="Cabins.PhoneNumber">Phone Number:</label>
                <input asp-for="Cabins.PhoneNumber" /> <br />
                <label asp-for="Cabins.Email">Email:</label>
                <input asp-for="Cabins.Email" /> <br /> <br />
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="Public" asp-controller="Home" asp-action="Cabins">Back to List</a>
</div>

