@model SunridgeHOA.Models.ClassifiedListing
@{
    ViewData["Title"] = "Add Lot";
}

<br />
<h2 class="text-info">Add Lot</h2>

<form method="post" asp-action="AddLot" enctype="multipart/form-data" class="form-control">
    <label>Name:</label>
    <input class="form-control" />
    <br />
    <label>Price:</label>
    <input class="form-control" />
    <br />
    <label>Image:</label>
    <input type="file" class="form-control" />
    <br /> 
    <label>Description:</label>
    <input class="form-control" />
    <br />
    <label>Phone Number:</label>
    <input class="form-control" />
    <br />
    <label>Email:</label>
    <input class="form-control" />
    <br /> <br />
    <input type="submit" />
</form>