@model SunridgeHOA.Models.ViewModels.ClassifiedViewModel
@{
    ViewData["Title"] = "Add Service";
}

<h2>Add Service</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateService" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Service.FilePath">File Upload:</label>
                <input asp-for="Service.FilePath" type="file" id="otherServicesFileUpload" /> <br /><br />
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="Public" asp-controller="Home" asp-action="OtherServices">Back</a>
</div>