@model SunridgeHOA.Models.Lot

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Lot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LotNumber" class="control-label"></label>
                <input asp-for="LotNumber" class="form-control" />
                <span asp-validation-for="LotNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsArchive" /> @Html.DisplayNameFor(model => model.IsArchive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedDate" class="control-label"></label>
                <input asp-for="LastModifiedDate" class="form-control" />
                <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxID" class="control-label"></label>
                <input asp-for="TaxID" class="form-control" />
                <span asp-validation-for="TaxID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryID" class="control-label"></label>
                <input asp-for="InventoryID" class="form-control" />
                <span asp-validation-for="InventoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressID" class="control-label"></label>
                <select asp-for="AddressID" class ="form-control" asp-items="ViewBag.AddressID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
