@model SunridgeHOA.Models.ComplaintForm
@using SunridgeHOA.Extensions

@{
    ViewData["Title"] = "Complaint Form Details";
}
<br />
<h2>Complaint Form Details</h2>

    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Owner.ID" />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.FirstName"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.FirstName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.LastName"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.LastName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.Lot.LotNumber"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.Lot.LotNumber" readonly class="form-control" />
            </div>
        </div>
        @*<div class="form-group row">
                <div class="col-2">
                    <label asp-for="Owner.Form.States"></label>
                </div>
                <div class="col-5">
                    <select asp-for="@Model.Owner.Form.StatesID" asp-items="Model.Owner.Form.States.ToSelectListItem(Model.Owner.Form.StatesID)" class="form-control"></select>
                </div>
            </div>*@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.Phone"></label>
            </div>
            <div class="col-5">
                <input asp-for="Owner.Phone" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.Form.Description"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="Owner.Form.Description" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Owner.Form.Suggestion"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="Owner.Form.Suggestion" readonly class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>

